body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(0, 0, 0, .025);
    padding: 10px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header::after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

.header .print {
    float: right;
    display: inline-block;

    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;

    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    background-color: white;
    font-weight: bold;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header .print:hover {
    border-color: rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, 0.9);
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

table thead tr th {
    background-color: rgba(0, 0, 0, .05);
}

.group-header td {
    background-color: rgba(0, 0, 0, .035);
}

table td, table th {
    padding: 15px;
    text-align: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media print {
    .header {
        display: none;
    }
}
