body {
    margin: 0;
    padding: 0;
}

a {
    color: #005a9e;
}

#app {
    height: 100vh;
}

.sidebar {
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.sidebar-wrapper, .main-grid {
    padding-left: 0;
}

.sidebar-wrapper {
    padding-right: 0;
}

.content-wrapper {
    padding: 0;
}

.ms-DetailsList.is-horizontalConstrained {
    overflow-x: hidden !important;
}

.ms-Nav ul[role="list"] {
    margin-top: 0;
}

.has-horizontal-offsets, .has-offsets {
    padding-left: 8px !important;
    padding-right: 8px !important;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.has-offset-top {
    margin-top: 8px;
}

.ms-font-su, .ms-font-xxl {
    padding: 0;
    margin: 0;
}

.cure-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cures-table {
    margin-top: 15px;
}

.custom-dialog {
    max-width: 100% !important;
}

.patient-name {
    display: block;

    padding: 8px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-info {
    margin: 8px;
}

.grid-info .grid-info-item {
    padding: 8px;

    color: rgba(0, 0, 0, .8);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-info .grid-info-item a {
    text-decoration: underline;
}

.divided-list div:last-child .divider {
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
}

.divider {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin-top: 8px;
}

.delete-button {
    margin-top:    16px;
    margin-bottom: 16px;

    text-align: right;
}

.delete-button::after {
    content: "";
    clear: both;
    overflow: hidden;
}

.button {
    padding: 8px;
    background-color: rgb(231, 76, 60);
    color: white;
    text-decoration: none;

    box-sizing: border-box;
}

.input-borderless input {
    border-left: none;
    border-top: none;
    border-right: none;
}

.color-gray {
    color: rgba(0, 0, 0, .8);
}
